* {
  margin: 0; 
  padding: 0;
  font: 10pt Verdana, sans-serif;
}

body {
  background: #e2ceab url(/images/old-glory.jpg) no-repeat fixed top center;
  background-size: cover;
}

section.site {
  background-color: #EEEEEE;
  color: #111111;
  margin: 0px auto;
  width: 74em;
  overflow: auto;
}

header.site {
  width: 70em;
  margin: 2em auto;
}

section.content {
  float: left;
  width: 45em;
  margin: 1em;
}

aside.site {
  float: right;
  width: 25em;
  margin: 1em;
}

h1 {
  color: rgb(50, 67, 255);
}

h2 {
  color: rgb(187, 162, 33);
}

a {
  text-decoration: none;
  color: rgb(50, 67, 255);
}

ul {
  list-style-type: none;
}

p {
  margin: 0.5em 0em;
}

header.site h1 {
  font-size: 5em; 
  text-align: left;
  text-shadow: 2px 2px 6px rgb(0, 0, 0);
}

header.site h2 {
  font-size: 2em;
  font-weight: bold;
  text-align: right;
}

nav {
  margin: 3em 0;
  clear: both;
}

nav a {
  font-size: 1.5em;
  font-weight: bold;
  color: #999;
  text-shadow: 0px 1px 0px #bbb;
}

nav a:hover {
  color: rgb(50, 67, 255);
}

nav ul {
  border-style: solid;
  border-width: 1px;
  border-color: #ddd;
  border-left-style: none;
  border-right-style: none;
  background-color: #e7e7e7;
  overflow: auto;
}

nav li {
  padding: 0.65em 1em;
  border-style: solid;
  border-width: 1px;
  border-left-color: #ddd;
  border-right-color: #fff;
  border-top-style: none;
  border-bottom-style: none;
  float: left;
}

nav li:first-child {
  border-left-style: none;
}

nav li:last-child {
  border-right-style: none;
}

nav li:hover {
  background-color: rgb(187, 162, 33);
}

nav li:hover a {
  color: rgb(50, 67, 255);
}
