* {
  margin: 0; 
  padding: 0;
  font: 10pt Verdana, sans-serif;
}

body {
  background: #e2ceab url(/images/old-glory.jpg) no-repeat fixed top center;
  background-size: cover;
}

section.site {
  background-color: #EEEEEE;
  color: #111111;
  margin: 0px auto;
  width: 72em;
  overflow: auto;
}

section.content {
  float: left;
  width: 55em;
  margin: 0.5em;
}

aside.site {
  float: right;
  width: 15em;
  margin: 0.5em;
}

h1 {
  color: rgb(50, 67, 255);
}

a {
  text-decoration: none;
  color: rgb(50, 67, 255);
}

ul {
  list-style-type: none;
}
