<aside class="site">

  <h1>Useful Information</h1>

  <ul>
    <li><a href="/articles/camping-packing-list.html">Camping Packing List</a></li>
    <li><a href="/articles/pinewood-derby-rules.html">Pinewood Derby Rules</a></li>
  </ul>

  <h1>Useful Links</h1>

  <ul>
    <li><a href="http://www.skcbsa.org/aboutus_shop.php">Simon Kenton Scout Shop</a></li>
    <li><a href="http://www.scoutstuff.org/">Scout Stuff</a></li>
    <li><a href="https://my.scouting.org/">My Scouting</a></li>
  </ul>

  <h1>Affiliated Organizations</h1>

  <ul>
    <li><a href="http://skcbsa.org/district_home.php?district=Arrowhead">Arrowhead District</a></li>
    <li><a href="http://www.scouting.org/">Boy Scouts of America</a></li>
    <li><a href="http://www.westerville.k12.oh.us/school_home.aspx?schoolID=17">Huber Ridge Elementary School</a></li>
    <li><a href="http://skcbsa.org/district_home.php?district=Arrowhead">Simon Kenton Council</a></li>
    <li><a href="http://westervillecivitan.webs.com/">Westerville Area Civitan Club</a></li>
    <li><a href="http://www.scout.org/">World Organization of the Scouting Movement</a></li>
  </ul>

</aside>
