section.content>h1 {
  font-size: 1.4em;
}

section.content>h1>a {
  font-size: 1.0em;
}

article {
  margin-left: 1em;
  margin-bottom: 1.5em;
}

article>h1 {
  font-size: 1.2em;
  margin: 1em -0.5em 0.5em;
  color: #111;
}

article>h2 {
  font-size: 1.0em;
  font-weight: bold;
  margin-top: 1.0em;
  color: #111;
}

article>ul {
  margin: 1.0em 2.0em;
  list-style: disc outside;
}

article>time {
  margin-left: -0.5em;
  font-weight: bolder;
}

article>iframe {
  margin: 1em 0em;
}

section.content table {
  width: 100%;
  margin-bottom: 20px;
}

section.content table>thead {
  text-align: left;
  color: rgb(120, 183, 73);
}

section.content table>tbody>tr:nth-child(2n+1) {
  background-color: #ddd;
}

section.content table th {
  padding: 1px 5px;
}

section.content table td {
  padding: 1px 5px;
}

