section.site {
  background-color: #FEFEFE;
  color: #111111;
  margin: 0px auto;
  width: 74em;
  min-height: 100em;
  overflow: auto;
}

header.site {
  width: 70em;
  margin: 2em auto;
}

section.content {
  float: left;
  width: 45em;
  margin: 1em;
}

aside.site {
  float: right;
  width: 25em;
  margin: 1em;
}
