footer.paginator {
  margin: 4em 0em;
  text-align: center;
}

footer.paginator>ul {
  list-style-type: none;
}

footer.paginator>ul>li {
  font-size: 1.2em;
  display: inline;
}

footer.paginator>ul>li + li:before{
  content: " - ";
}

footer.paginator>ul>li>a {
  font-size: 1.0em;
}
