<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>{{ site.name }} | {{ page.title }}</title>
<link rel="icon" type="image/jpg" href="/images/cub-scout-logo.png">
<link rel="stylesheet" href="/css/main.css">
</head>

<body>

<section class="site">

<header class="site">
  <hgroup>
    <h1>{{ site.name }}</h1>
    <h2>{{ site.tagline }}</h2>
  </hgroup>
</header>

<nav class="site">
  <ul>
    <li><a href="/">News</a></li>
    <li><a href="/calendar">Calendar</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/meetings">Meeting &amp; Directions</a></li>
    <li><a href="/about">About Our Pack</a></li>
  </ul>
</nav>

<aside class="site">

  <h1>Useful Links</h1>

  <ul>
    <li><a href="http://www.skcbsa.org/aboutus_shop.php">Simon Kenton Scout Shop</a></li>
    <li><a href="http://www.scoutstuff.org/">Scout Stuff</a></li>
    <li><a href="https://my.scouting.org/">My Scouting</a></li>
  </ul>

  <h1>Affiliates</h1>

  <ul>
    <li><a href="http://skcbsa.org/district_home.php?district=Arrowhead">Arrowhead District</a></li>
    <li><a href="http://www.scouting.org/">Boy Scouts of America</a></li>
    <li><a href="http://www.westerville.k12.oh.us/school_home.aspx?schoolID=17">Huber Ridge Elementary School</a></li>
    <li><a href="http://skcbsa.org/district_home.php?district=Arrowhead">Simon Kenton Council</a></li>
    <li><a href="http://westervillecivitan.webs.com/">Westerville Area Civitan Club</a></li>
    <li><a href="http://www.scout.org/">World Organization of the Scouting Movement</a></li>
  </ul>

</aside>

<section class="content">
  {{ content }}
</section>

<footer class="site">
</footer>

</section>

</body>

</html>
