<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ site.name }} | {{ page.title }}</title>

<link rel="icon" type="image/jpg" href="/images/cub-scout-logo.gif">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/site.css">

<script type="text/javascript" src="js/vendor/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="js/vendor/lodash.min.js"></script>
<script type="text/javascript" src="js/vendor/moment.min.js"></script>
<script type="text/javascript" src="js/site.js"></script>

</head>

<body>

  <header>
    <a href="/"><div class="logo"></div></a>
    <div class="banner">
      <h1 class="title"><a href="/">{{ site.name }}</a></h1>
      <p class="tagline">{{ site.description }}</p>
    </div>
  </header>

  <nav>
    <ul>
      <li><a href="meetings.html">Meetings</a></li>
      <li><a href="calendar.html">Calendar</a></li>
      <li><a href="">Articles</a></li>
      <li><a href="">Facebook</a></li>
      <li><a href="">Contact Us</a></li>
      <li><a href="">Affiliates</a></li>
    </ul>
  </nav>

  <main>
    <section id="{{ page.html_id }}">
      {{ content }}
    </section>
  </main>

</body>

</html>
